*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}

/* Header Part */
.header-part {
    background-color: black;
}
.header-part ul {
    text-align: center;
}
.header-part ul li {
	display: inline-block;
	padding: 20px 20px;
	position: relative;
}

.header-part ul li a {
	color: #fff;
	transition: all .4s ease-in-out;
	font-weight: 500;
}
.header-part ul li a:hover{
    color: #5ea5fa;
    transition: all .4s ease-in-out;
}
.header-part ul li:hover > a{
    color: #5ea5fa;
}
.header-part ul ul {
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #222222;
	width: 260px;
    border-top: 5px solid #4272d8;
    transition: all .4s ease-in-out;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    transform: scaleY(0);
    transform-origin: top;
}
.header-part ul li:hover > ul{
    transform: scaleY(1);
    transition: all .4s ease-in-out;
    opacity: 1;
    visibility: visible;
}
.header-part ul ul li {
	display: block;
	padding: 20px;
	cursor: pointer;
    border-bottom: 1px solid #363636;
    transition: all .4s ease-in-out;
}
.header-part ul ul li:last-child{
    border-bottom: 0;
}
.header-part ul ul li:hover{
    background-color: #4272d8;
    transition: all .4s ease-in-out;
}
.header-part ul ul li a{
    color: white;
}
.header-part ul ul li:hover a{
    color: white;
}
.header-part ul ul ul {
	top: 0%;
    left: 260px;
    transition: all .4s ease-in-out;
    transform-origin: left;
    transform: scaleX(0);
}
.header-part ul ul li:hover > ul{
    transition: all .4s ease-in-out;
    transform: scaleX(1); 
}

/* Practice Part */
.practice-part {
	background-color: #dddddd;
	text-align: center;
	font-size: 20px;
    padding: 20px 0;
    position: relative;
    transition: all .4s ease-in-out;
    z-index: 1;
}
.practice-part::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #cfcfcf;
    transform: scaleX(0);
    transform-origin: left;
    transition: all .6s ease-in-out;
    z-index: -1;
}
.practice-part::after{
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #cfcfcf;
    transform: scaleX(0);
    transform-origin: right;
    transition: all .6s ease-in-out;
    z-index: -1;
}
.practice-part:hover::after{
    transform: scaleX(1);
    transition: all .6s ease-in-out;
}
.practice-part:hover::before{
    transform: scaleX(1);
    transition: all .6s ease-in-out;
}

/* Banner Part */
.banner-part{
    background: url(2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 200px 0;
    position: relative;
    z-index: 1;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: -1;
}
.list-items {
	background-color: #0e0e0e;
	padding: 16px 0;
	display: inline-block;
    margin: 0 30px;
    position: relative;
    z-index: 1;
    transition: all .4s ease-in-out;
    
}
.list-items::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #59abf7;
    top: 0;
    left: 0;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: top;
    transition: all .4s ease-in-out;
}
.list-items:hover:after{
    transform: scaleY(1);
    transition: all .4s ease-in-out;
    transform-origin: bottom;
}
.list-items li{
	color: white;
	font-size: 17px;
	font-weight: 500;
    padding: 10px 30px;
}

.list-items li::before {
	content: "\f879";
	font-weight: 800;
	font-family: "Font Awesome 5 Free";
	color: white;
	font-size: 18px;
	display: inline-block;
	margin-right: 10px;
}
.list-items.list-items2 li::before{
    content: "\f013";
}
.list-items.list-items2 li::after{
    content: "\f013";
    margin-right: 0;
    margin-left: 10px;
    font-weight: 800;
	font-family: "Font Awesome 5 Free";
    color: white;
    font-size: 18px;
    display: inline-block;
}
.list-items.list-items3 li::before{
    content: "\f359";
}


/* Footer Part Start */
.footer-part {
	background-color: black;
	color: white;
	text-align: center;
	padding: 20px 0;
}
.footer-part a i {
	color: black;
	background-color: #59abf7;
	width: 30px;
	height: 30px;
	text-align: center;
	border-radius: 50%;
	font-size: 15px;
	line-height: 30px;
    margin: 15px 3px 0 3px;
    transition: all .4s ease-in-out;
    position: relative;
    z-index: 1;
}
.footer-part a i:hover{
    color: white;
    transition: all .4s ease-in-out;
}
.footer-part a i::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transition: all .4s ease-in-out;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #04994a; 
    z-index: -1;  
    transform: scale(0);
}
.footer-part a i:hover:after{
    transform: scale(1);
    transition: all .4s ease-in-out;
}

/* The work has done */
